:root {
    /* #698561, #c1e7e3, #ffdcf4, #dabfde, #c1bbdd , #c3c1ab, #ae887b   */
    --primary-color: #79a6a3;
    --secondary-color: #e7e7e7;
}

*,
 :after,
 :before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    background-color: var(--primary-color);
    position: relative;
    text-align: center;
}


/*general styling*/

button {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 5px;
    padding: 3px;
    font-size: 0.9rem;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3.8fr 1fr;
    grid-template-rows: 0.8fr 1fr 4fr 1fr 0.7fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: ". . ." ". mode-btns ." ". time-container ." ". timer-phase ." ". settings ." ". . .";
    place-items: center;
}


/*MODE BTNS*/

.mode-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: mode-btns;
    background-color: transparent;
    border-radius: 20px;
    height: 40px;
    width: 280px;
}

.btn {
    color: #464646;
}

.btn:hover {
    border: 2px solid whitesmoke;
}

.btn:focus {
    color: black;
}


/*TIME-CONTAINER*/

.time-container {
    grid-area: time-container;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 10px 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    background-color: rgba(224, 215, 215, 0.30);
    position: relative;
    font-size: 1.5rem;
}

.circle1 {
    width: 50px;
    height: 50px;
    background-color: #c2c8c5;
    border-radius: 100%;
    box-shadow: inset 5px 5px 15px #a5a8a8, inset -5px -5px 15px #8f9294;
    position: relative;
    left: 23%;
    bottom: 40px;
}

.circle2 {
    width: 70px;
    height: 70px;
    background-color: #c2c8c5;
    border-radius: 100%;
    box-shadow: inset 20px 20px 30px #a5a8a8, inset -20px -20px 30px #8f9294;
    position: absolute;
    left: 70%;
    top: 150px;
}


/*PHASE*/

.timer-phase {
    grid-area: timer-phase;
    border: 1px solid white;
    outline: none;
    border: none;
    background: transparent;
    display: flex;
    flex-direction: row;
}

.phase {
    font-weight: bold;
    padding: 7px;
    font-size: 1rem;
}

.phase:hover {
    border: 2px solid black;
    color: #011522;
    border-radius: 5px;
}

#start {
    grid-area: startdisplay;
    display: block;
}

#pause {
    grid-area: pauseBtn;
    display: none;
}

#reset {
    grid-area: resetBtn;
    display: none;
}


/*SETTINGS*/

.settings {
    grid-area: settings;
}


/*MODAL*/

.modal-container {
    display: flex;
    justify-content: center;
}

#modal {
    width: 80%;
    border-radius: 20px;
    font-family: sans-serif;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(234, 234, 234, 0.90);
    border-radius: 0px;
    border: 1px solid rgba(209, 213, 219, 0.4);
    position: absolute;
    z-index: 3;
    margin: 0;
    display: none;
}

#modal h3 {
    margin: 60px auto 20px auto;
}

#modal input {
    width: 60px;
    height: 30px;
    margin: 10px auto 5px auto;
    background-color: wheat;
    outline: none;
    border: none;
    padding: 5px;
}

label {
    padding: 7px;
    font-size: 12px;
}

.input-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 30px 0px;
}

.input-label {
    display: flex;
    flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    margin: 3px;
}

.color {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 1px solid whitesmoke;
    margin: 5px auto 20px auto;
}

.color:hover {
    border: 3px solid black;
}

.color1 {
    background-color: #79a6a3;
}

.color2 {
    background-color: #9fb9bf;
}

.color3 {
    background-color: #698561;
}

.color4 {
    background-color: #b5ead7;
}

.color5 {
    background-color: #c6adad;
}

.color6 {
    background-color: #fcd5ce;
}

.color7 {
    background-color: #ffdac1;
}

.color8 {
    background-color: #c1bbdd;
}

#close {
    background-color: transparent;
    outline: none;
    border: none;
    position: relative;
    float: right;
    margin: 10px 20px 0px 0px;
}

.line {
    height: 0.8rem;
    width: 0.12rem;
    background-color: black;
}

.line1 {
    transform: rotate(-50deg);
    display: block;
    position: fixed;
}

.line2 {
    transform: rotate(50deg);
    display: block;
    position: fixed;
}

#submit {
    padding: 5px;
    margin: 5px auto 30px auto;
    width: 50px;
    border: 1px solid black;
    color: black;
    background-color: transparent;
    outline: none;
}

#submit:hover {
    background-color: black;
    color: whitesmoke;
    border: 1px solid black;
    outline: none;
}

@-moz-document url-prefix() {
    body {
        margin-top: 30px;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .circle {
        background-color: rgba(224, 215, 215, 0.65);
        margin-top: 40px;
    }
    .circle2 {
        left: 65%;
        top: 120px;
    }
    @media screen and (min-width: 530px) {
        .circle2 {
            left: 60%;
        }
    }
    @media screen and (min-width: 800px) {
        .circle2 {
            left: 55%;
        }
    }
    @media screen and (min-width: 1320px) {
        .circle2 {
            left: 40%;
        }
    }
}

@media screen and (min-width: 400px) {
    .circle2 {
        left: 60%;
    }
}

@media screen and (min-width: 830px) {
    .container {
        font-size: 1.2rem;
    }
    .circle1 {
        width: 50px;
        height: 50px;
        left: 0%;
    }
    .circle2 {
        width: 150px;
        height: 150px;
    }
    .circle {
        width: 350px;
        height: 250px;
        border-radius: 5px;
        font-size: 2rem;
    }
    .mode-btns {
        width: 400px;
        padding: 10px;
    }
    .mode-btn {
        font-size: 1.2rem;
        padding: 5px;
    }
    .phase {
        font-size: 1.6rem;
    }
    #modal h3 {
        margin: 60px auto 20px auto;
        font-size: 1.5rem;
    }
    #modal p {
        font-size: 18px;
        margin: 10px;
    }
    #modal input {
        width: 90px;
        height: 40px;
        margin: 15px auto 5px auto;
    }
    label {
        padding: 10px;
        font-size: 20px;
    }
    li {
        margin: 5px;
    }
    .color {
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    .line {
        height: 1rem;
        width: 0.2rem;
    }
    #submit {
        padding: 7px;
        margin: 5px auto 40px auto;
        width: 70px;
    }
}
