:root {
    --primary-color: rgb(2, 32, 53);
    --secondary-color: #a788a7;
}

*,
 :after,
 :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 1.5rem;
    position: relative;
    color: #e2e2e2;
    background-color: #022035;
    background-color: var(--primary-color);
    transition: .6s ease-out;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
    grid-template-rows: 1fr 1fr 40px 300px 50px 30px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
}


/*MODE BTNS*/

.div1 {
    grid-area: 2 / 2 / 3 / 3;
    position: relative;
    text-align: center;
    border-radius: 20px;
    background-color: #383838;
}

.btn {
    border: none;
    background: transparent;
    outline: none;
    margin: 5px;
    padding: 7px;
    border-radius: 20px;
    color: rgb(185, 184, 184);
}

.btn:focus {
    background-color: var(--secondary-color);
    color: #011522;
}


/*CONTAINER*/

.div2 {
    grid-area: 3 / 2 / 4 / 3;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto 0px auto;
    width: 200px;
    background-color: rgb(2, 32, 53);
    height: 200px;
    border-radius: 100%;
    -webkit-box-shadow: inset -4px -5px 9px #11354d, inset 5px -3px 9px #040c12;
    box-shadow: inset 20px 20px 60px #11354d, inset 20px 20px 60px #040c12;
}

.time {
    margin-bottom: 4px;
    font-size: 2rem;
}


/*PHASE*/

.div3 {
    grid-area: 4 / 2 / 5 / 3;
    display: grid;
    grid-template-areas: "pauseBtn startBtn resetBtn";
}

.phase {
    color: var(--secondary-color);
    /*margin: 30px 20px 20px 20px;*/
    outline: none;
    border: none;
    background: transparent;
    font-size: 1rem;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.phase:hover {
    background-color: var(--secondary-color);
    color: #011522;
    border-radius: 20px;
    padding: 5px;
}

#start {
    grid-area: startBtn;
    display: block;
}

#pause {
    grid-area: pauseBtn;
    display: none;
}

#reset {
    grid-area: resetBtn;
    display: none;
}


/*SETTINGS*/

.div4 {
    grid-area: 5 / 2 / 6 / 3;
    text-align: center;
}

#settings {
    background-color: transparent;
    margin: auto;
    outline: none;
    border: none;
}


/*MODAL*/

.modal-container {
    width: 80%;
    height: auto;
    font-family: monospace;
    transition: 0.2s ease-in;
    position: absolute;
}

#modal {
    background-color: #00121d;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    margin: 60px auto 10px auto;
    position: relative;
}

#modal input {
    width: 60px;
    height: 30px;
    margin: 10px auto;
    background-color: var(--secondary-color);
    outline: none;
    border: none;
    padding: 5px;
    font-size: 12px;
}

label {
    font-size: 12px;
    padding: 5px;
}

.input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.input-label {
    display: flex;
    flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
}

li {
    margin: 3px;
}

.color {
    width: 22px;
    height: 22px;
    border-radius: 100%;
    border: 1px solid whitesmoke;
    margin: 5px auto 20px auto;
}

.color:active {
    border: 3px solid whitesmoke;
}

.color1 {
    background-color: #ccd4ff;
}

.color2 {
    background-color: #f4bfff;
}

.color3 {
    background-color: #b5ffc6;
}

.color4 {
    background-color: #fceec2;
}

.color5 {
    background-color: #ffbfad;
}

.color6 {
    background-color: #ffaab8;
}

.color7 {
    background-color: #ffadad;
}

.color8 {
    background-color: #a788a7;
}

#close {
    background-color: transparent;
    outline: none;
    border: none;
    float: right;
    margin: 10px 20px 5px auto;
    position: absolute;
}

.line {
    height: 0.8rem;
    width: 0.12rem;
    background-color: whitesmoke;
}

.line1 {
    transform: rotate(-50deg);
    display: block;
    position: fixed;
}

.line2 {
    transform: rotate(50deg);
    display: block;
    position: fixed;
}

#submit {
    padding: 5px;
    width: 40px;
    margin: 10px;
    border: 1px solid whitesmoke;
    color: whitesmoke;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
}

#submit:hover {
    background-color: var(--secondary-color);
    color: rgb(2, 32, 53);
    border: 1px solid var(--secondary-color);
    outline: none;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 1.8rem;
    }
    .parent {
        grid-template-columns: 1fr 400px 1fr;
        grid-template-rows: 1fr 65px 300px 60px 30px 1fr;
        grid-row-gap: 5px;
    }
    #mode-btns {
        margin: 20px auto 0px auto;
    }
    .btn {
        padding: 10px;
    }
    .contianer {
        width: 300px;
        height: 300px;
    }
    .modal-container {
        width: 60%;
        height: 60%;
        left: 20%;
        font-size: 20px;
        padding: 20px;
    }
    #modal input {
        margin: 10px auto;
        font-size: 16px;
    }
    .color {
        width: 40px;
        height: 40px;
        margin: 10px auto 20px auto;
    }
    label {
        font-size: 18px;
        padding: 15px;
    }
    #submit {
        padding: 5px;
        width: 60px;
        font-size: 0.7rem;
        margin: 10px;
        border: 2px solid whitesmoke;
        border-radius: 15px;
    }
}